{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Account List View</h1>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
