{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Expense Categories</h1>
        <table>
            <thead>
                <th>Category</th>
                <th>Number of Receipts</th>
            </thead>
            {% for category in categories %}
                <tbody>
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
